[submodule "React-Homework-1"]
	path = React-Homework-1
	url = https://github.com/ITStep-Homework/React-Homework-1
[submodule "React-Homework-2"]
	path = React-Homework-2
	url = https://github.com/ITStep-Homework/React-Homework-2
[submodule "React-Homework-3"]
	path = React-Homework-3
	url = https://github.com/ITStep-Homework/React-Homework-3
[submodule "React-Homework-4"]
	path = React-Homework-4
	url = https://github.com/ITStep-Homework/React-Homework-4
